:root {
	--g: #03624c;
	--w: #dadada;
	--b: #333;
	--r: #dadada;
	--lg: #007b31;
	--rg: #418f60;
	--gr: #c9c9c9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	font-family: 'Poppins', 'sans-serif';
	background-color: var(--w);
	color: var(--b);
	overflow-x: hidden;
}

.navbar-main {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 5px 3%;
	position: fixed;
	background-color: var(--g);
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	z-index: 100;
	box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
}

/* legacy */
#legacy1,
#legacy2,
#legacy3,
#legacy4,
#legacy5,
#legacy6,
#legacy7,
#legacy8,
#legacy9,
#legacy_total {
	display: none;
}

.return-button {
	margin-top: 5px;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 1%;
	top: 10%;
}

.footer {
	max-width: 100%;
	display: flex;
	padding: 5px 3%;
	position: fixed;
	background-color: var(--g);
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	z-index: 100;
	box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.75);
}

#img-next-button0,
#img-next-button1,
#img-return-button1,
#img-next-button2,
#img-return-button2,
#img-next-button3,
#img-return-button3,
#img-next-button4,
#img-return-button4,
#img-next-button5,
#img-return-button5,
#img-next-button6,
#img-return-button6,
#img-next-button7,
#img-return-button7,
#img-next-button8,
#img-return-button8,
#img-next-button9,
#img-return-button9 {
	margin: auto;
	color: var(--w);
	font-size: 1.3rem;
	font-weight: 600;
}

.a-next-button,
.z-next-button {
	margin: auto;
	padding-top: 10px;
	position: absolute;
	height: 30px;
	right: 7%;
	z-index: 102;
}

.a-return-button {
	margin: auto;
	padding-top: 10px;
	position: absolute;
	height: 30px;
	left: 7%;
	z-index: 102;
}

.logo {
	position: absolute;
	margin: auto;
	bottom: 10%;
	right: 48%;
	transform: translateX(10%);
	height: 60px;
	z-index: 999;
	width: 90px;
	height: 90px;
	background-color: var(--g);
	border-radius: 50%;
	align-items: center;
	box-shadow: 1px 1px 11px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 11px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 7px 11px rgba(0, 0, 0, 0.5);
}

.logo_white {
	width: 80px;
	margin: 5px;
}

.main-title {
	color: var(--w);
	position: absolute;
	left: 7%;
	top: 1%;
}

.sub-title {
	top: 0%;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	color: var(--w);
	z-index: 101;
	padding: 5px;
}

.page-label {
	position: fixed;
	right: 7%;
	padding: 0px 20px;
	border-radius: 1rem;
	border: 2px solid var(--w);
	color: var(--w);
	top: 0%;
	margin: 8px;
	z-index: 101;
}

section {
	position: absolute;
	top: 6%;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 1.1rem;
}

.main-page {
	padding: 13% 10%;
	margin: 0;
	max-height: 100vh;
}

table {
	width: 100%; /* Membuat tabel memenuhi 80% dari lebar layar */
	border-collapse: collapse;
	margin: 20px auto; /* Margin otomatis untuk memastikan tabel terpusat */
}

table tr {
	display: table-row; /* Kembalikan ke default table-row */
}

table td,
table th {
	padding: 5px; /* Memberikan sedikit ruang dalam sel */
	box-sizing: border-box;
}

.numeric {
	font-size: 1.1rem;
	font-family: 'Poppins', 'sans-serif';
	padding: 0px 5px;
	width: 40vw;
}

.ui-radio {
	left: 0%;
	width: 40vw;
}

.custom {
	height: 20px;
	width: 20px;
	margin: 0;
}

.field {
	width: 100%;
}

.field-label {
	display: flex;
	width: 100%;
}

.kolom_slider {
	display: flex;
}

.minus {
	display: flex;
	padding: 0px 10px 12px 10px;
	font-weight: 700;
	color: var(--lg);
	font-family: 'Lexend Giga', serif;
	font-weight: 900;
	font-size: 1rem;
	cursor: pointer;
	align-items: center;
}

.plus {
	display: flex;
	padding: 6px 10px 0px 10px;
	font-weight: 700;
	color: var(--lg);
	font-family: 'Lexend Giga', serif;
	font-weight: 900;
	font-size: 1rem;
	cursor: pointer;
}

.slider {
	appearance: none;
	width: 76vw;
	background: var(--b);
	outline: solid 1px var(--b);
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	margin: 5px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	padding-top: 10px;
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--g);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	padding-top: 10px;
	width: 16px;
	height: 16px;
	background: #4caf50;
	border-radius: 50%;
	cursor: pointer;
}

#legacy_total {
	margin: 0;
}

.data,
.kolom_final {
	padding-bottom: 60rem;
}

.main-page2 {
	padding: 0% 10%;
	margin: 0;
	max-height: 100vh;
}

.kolom_final {
	margin: 1%;
}

.kolom_hasil {
	display: block;
	margin: 0;
	box-sizing: border-box;
	padding-top: 30px;
}

.hasil_atas {
	width: 100%;
}

#total_tirkah,
#total_hutang,
#total_wasiat,
#total_tajhiz,
#total_irts {
	position: absolute;
	right: 0%;
	margin-right: 11%;
}

.kolom_main tr td,
.kolom_main tr th {
	border: 2px solid var(--gr);
}

/* .kolom_main tr th:nth-child(1) {
	text-align: left;
}
.kolom_main tr th:nth-child(2) {
	text-align: center;
}
.kolom_main tr th:nth-child(3) {
	text-align: right;
} */

.kolom_main tr td:nth-child(1) {
	text-align: left;
}
.kolom_main tr td:nth-child(2) {
	text-align: center;
}
.kolom_main tr td:nth-child(3) {
	text-align: center;
}

#kontak {
	margin: auto;
	text-align: center;
	background-color: var(--g);
	padding: 10px;
	border-radius: 12px;
	color: var(--w);
	max-width: 80%;
}

#kontak a {
	color: var(--w);
}

#kontak a:hover {
	color: var(--gy);
}

@media (max-width: 1224px) {
	html {
		font-size: 75%;
	}
	.main-title {
		top: 20%;
	}
	.sub-title {
		margin-top: 0.7rem;
	}
	.page-label {
		margin-top: 1rem;
	}
	.logo {
		left: 46%;
		transform: translateX(-10%);
	}
	.a-next-button {
		margin-right: 37px;
		display: flex;
		bottom: 100%;
		margin-bottom: -37px;
		cursor: pointer;
	}

	.a-return-button {
		margin: auto;
		display: flex;
		left: 7%;
		bottom: 100%;
		margin-bottom: -37px;
	}

	#img-next-button0,
	#img-next-button1,
	#img-return-button1,
	#img-next-button2,
	#img-return-button2,
	#img-next-button3,
	#img-return-button3,
	#img-next-button4,
	#img-return-button4,
	#img-next-button5,
	#img-return-button5,
	#img-next-button6,
	#img-return-button6,
	#img-next-button7,
	#img-return-button7,
	#img-next-button8,
	#img-return-button8,
	#img-next-button9,
	#img-return-button9 {
		margin: auto;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 60%;
	}
	section {
		margin: 0;
	}
	.navbar-main {
		height: 43px;
	}
	.main-title {
		display: none;
	}
	.sub-title {
		top: 0;
	}
	.page-label {
		margin-top: 1.2rem;
		right: 1%;
	}
	.return-button {
		left: 3%;
		height: 25px;
		width: 25px;
	}

	.footer {
		height: 40px;
	}

	.logo {
		left: 45%;
		transform: translateX(-10%);
		width: 72px;
		height: 72px;
	}

	.logo_white {
		width: 64px;
		margin: 5px;
	}

	.a-next-button {
		margin: auto;
		right: 23%;
		display: flex;
		bottom: 100%;
		margin-bottom: -28px;
		cursor: pointer;
	}

	.a-return-button {
		margin: auto;
		display: flex;
		left: 4%;
		bottom: 100%;
		margin-bottom: -28px;
	}

	.z-next-button {
		margin: auto;
		right: 10%;
		display: flex;
		bottom: 100%;
		margin-bottom: -30px;
		cursor: pointer;
	}

	.main-page {
		padding: 18% 4%;
	}
	.main-page2 {
		padding: 0% 3%;
	}
	#total_tirkah,
	#total_hutang,
	#total_wasiat,
	#total_tajhiz,
	#total_irts {
		margin-right: 4.5%;
	}
	#img-next-button0,
	#img-next-button1,
	#img-return-button1,
	#img-next-button2,
	#img-return-button2,
	#img-next-button3,
	#img-return-button3,
	#img-next-button4,
	#img-return-button4,
	#img-next-button5,
	#img-return-button5,
	#img-next-button6,
	#img-return-button6,
	#img-next-button7,
	#img-return-button7,
	#img-next-button8,
	#img-return-button8 {
		margin: 10% 33%;
		max-width: 30px;
		height: 30px;
	}

	#img-next-button9 {
		max-width: 80px;
		height: 30px;
	}

	.slider {
		width: 88vw;
	}
	.slider::-webkit-slider-thumb {
		padding-top: 10px;
		appearance: none;
		width: 20px;
		height: 20px;
	}
	.kolom_main thead tr th:nth-child(2) {
		padding-left: 18%;
	}
	.kolom_bagian tr td:nth-child(2) {
		right: 36%;
	}
	.kolom_hasil {
		padding-top: 10px;
	}
}
